<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="profile.component.css">
</head>

    <div *ngIf = "loaded == true" class="grid-container">
        <div class="item-image">
                <div id="profile_image">
                    <img *ngIf = "editingPicture == false" class = "img-style" onerror="this.onerror=null; this.src='./../../../assets/Images/profile_image.png';" src = "{{imageURL}}">
                    <!-- <div class="imageEditing-container"  *ngIf = "this.editingPicture == true">
                        <uploader path="pictures/profilepictures" currentGameUID="{{currentUser.uid}}" style="padding: 10px; cursor: pointer;"></uploader>
                        <div class="centerImageEditing">            
                            <input id="URL" class="imageEditingItem2" value="{{imageURL}}">
                            <div class="buttonsEditImage">
                                <div class="btn button" style="background-color: red;" (click)="abortPictureEdit();">Abbrechen</div>
                                <div class="btn button" style="background-color: green;" (click)="pictureEdited()">Bestätigen</div>
                            </div>
                        </div>
                    </div> -->
                     <!-- <div (click)="editingPicture=true" *ngIf = "editingPicture == false" style="text-align: center; cursor: pointer;"> -->
                        <div (click)="this.router.navigate(['avatar-selection'])" style="text-align: center; cursor: pointer;">
                        <span>Profilbild ändern</span>
                        <img class ="img-symbol-style" src = "./../../../assets/Images/pencil.png" >
                    </div>
                </div> 
        </div>
                                
        <div class="item-profile_data">
            <div class="content_style">
                    <p class="first"><span style="font-weight: bold">Vorname:   </span> {{currentUser.firstname}}</p>
                    <p><span style="font-weight: bold">Nachname:   </span> {{currentUser.lastname}}</p>
                    <p><span style="font-weight: bold">Benutzername:   </span> {{currentUser.username}}</p>
                    <!--<p><span style="font-weight: bold">Schule:   </span>Lieblingsschule</p>
                    <p><span style="font-weight: bold">Lehrerin:   </span>Frau Schlau</p>
                    <p><span style="font-weight: bold">Rolle:   </span> {{accountTyp}}</p>-->
                    <p><span style="font-weight: bold">Passwort: </span> 
                        ******   
                        <img style="cursor: pointer; margin-left: 10px;" (click)="router.navigate(['profile/change-password']);" class ="img-symbol-style" src = "./../../../assets/Images/pencil.png">
                    </p> 
                    <p *ngIf="currentUser.role == 2 && editingLoginReward == false">
                        <span style="font-weight: bold">Tägliche Belohnung der Schüler : </span> 
                        {{currentUser.dailyloginreward}}   
                        <svg style="color: #FFD700; width: 20px; height: 20px; margin: -7px 0px -2px 0px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18 star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                        <img style="cursor: pointer; margin-left: 10px;" (click)="editingLoginReward = true" class ="img-symbol-style" src = "./../../../assets/Images/pencil.png">
                    </p>
                    <p *ngIf="currentUser.role == 2 && editingLoginReward == true">
                        <span style="font-weight: bold">Tägliche Belohnung der Schüler : </span> 
                        <input id="newDailyLoginReward" type="number" value="{{currentUser.dailyloginreward}}">
                        <img style="cursor: pointer; margin-left: 10px;" (click)="editingLoginRewardSubmit()" class ="img-symbol-style" src = "./../../../assets/Images/checkbox.png">
                    </p>
                    <p *ngIf="currentUser.role == 2 && editingHomeworkPrice == false">
                        <span style="font-weight: bold">Preis des Hausübungsgutscheins : </span> 
                        {{currentUser.homeworkVoucherPrice}}   
                        <svg style="color: #FFD700; width: 20px; height: 20px; margin: -7px 0px -2px 0px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18 star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                        <img style="cursor: pointer; margin-left: 10px;" (click)="editingHomeworkPrice = true" class ="img-symbol-style" src = "./../../../assets/Images/pencil.png">
                    </p>
                    <p *ngIf="currentUser.role == 2 && editingHomeworkPrice == true">
                        <span style="font-weight: bold">Preis des Hausübungsgutscheins : </span> 
                        <input id="newHomeworkPrice" type="number" value="{{currentUser.homeworkVoucherPrice}}">
                        <img style="cursor: pointer; margin-left: 10px;" (click)="editingHomeworkPriceSubmit()" class ="img-symbol-style" src = "./../../../assets/Images/checkbox.png">
                    </p>
                    <!--<button style="margin-top: 20px;" (click)="changePassword();" class = "btn login-button-style">Mein Passwort ändern</button>-->
                </div>
        </div>

         <div class="item-symbols_edit">
                    <p class="first_symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
        </div>


        
    </div>

   

    

