<div class="donation-meter">
    <strong>{{goalText}}</strong>
    <strong class="goal">{{goalPrice}} Sterne</strong>
    <div class="thermometer-wrapper">
        <span class="glass">
            <strong class="total" style="bottom: 45%" id="progress-text">{{teacher?.classtargetBalance}} Sterne</strong>
            <span class="amount" style="height: 50%" id="progress-bar"></span>
        </span>
        <div class="bulb">
            <span class="red-circle"></span>
            <span class="filler" ></span>
        </div>
    </div>
</div>




<div *ngIf="teacher?.classtargetBalance == goalPrice" id="confettis">
    <div *ngFor="let number of numbers; index as i" class="confetti" id="confetti-{{i}}">
    </div>
</div>