.donation-meter {
    position: fixed;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;

    
}

.glass {
    background: #e5e5e5;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 400px;
    margin: 0 35px 10px;
    padding: 5px;
    position: relative;
    width: 40px;
}

.amount {
    z-index: 2;
    background: #f34e54;
    border-radius: 100px 100px 0px 0px;
    display: block;
    width: 30px;
    position: absolute;
    bottom: 0px;
    min-height: 0px;
    max-height: 395px;
}

strong { 
    display: block; 
    text-align: center; 
}

.goal {
    font-size: 30px;
}

.total {
    font-size: 16px;
    position: absolute;
    right: 40px;
    width: 5000px;
    padding-right: 10px;
    text-align: end;
}

.bulb {
    background: #e5e5e5;
    border-radius: 100px;
    display: block;
    height: 70px;
    margin: 0 35px 10px;
    padding: 5px;
    position: relative;
    top: -20px;
    right: 15px;
    width: 70px;
}

.red-circle {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    height: 60px;
    width: 60px;
}

.filler {
    /* background: #f34e54;
    border-radius: 300px 300px 0 0;
    display: block;
    height: 50px;
    width: 30px;
    position: relative;
    top: -65px;
    right: -15px;
    z-index: 30; */
}

.thermometer-wrapper {
    display: block;
    margin-top: 30px;
    
}



#confettis {
    overflow: hidden;
    position: absolute;
    height: 90%;
    width: 100%;
  }
.confetti {
    width: 15px;
    height: 15px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
    margin-top: -15px;
}


  @keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,100vh); }
  }