<div class="donation-meter">
    <strong>2 Stunden Unterricht im Freien</strong>
    <strong class="goal">1.000.000 Sterne</strong>
    <div class="thermometer-wrapper">
        <span class="glass">
            <strong class="total" style="bottom: 45%">20.000 Sterne</strong>
            <span class="amount" style="height: 50%"></span>
        </span>
        <div class="bulb">
            <span class="red-circle"></span>
            <span class="filler"></span>
        </div>
    </div>
  </div>