/* detectes if card is clicked and rotates card */
input:checked + label > .flip-card >.flip-card-inner {
    transform: rotateY(180deg);
}


label {
  display:flex;
    width: 100%;
    min-height: 100%;
}

.own-card{
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 100%
}

.flip-card {
    display:flex;
    /* background-color: transparent; */
    width: 100%;
    perspective: 1000px; 
    /* min-height: 100%; */
    /* height: 100%; */
    /* align-self: stretch; */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    display:flex;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    display: flex;
    min-height: 100%;
    width: 100%;
    justify-content: space-around;
    
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-card-back {
    position: absolute;
    /* background-color: dodgerblue;
    color: white; */
    transform: rotateY(180deg);
    height: 100%;
  }

  .card-height{
      /* this class does only exist for typescript DOM management purpose */
  }

  .gold-border{
    border: solid 5px gold
  }

  .green-border{
    border: solid 5px green
  }

  .own-card-body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    min-height: 100%;
  }

  .mydiv {
    position: absolute;
    background-color:yellow;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}