div {
    width: 100%;
    margin: 0 auto;
}

.not-yet-received {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.teacher-header{
    width: 100%;
    margin: 20px; 
    text-align: center; 
    align-items: center; 
    justify-content: center;
}